.clearfix:after {
    content : ".";
    display : block;
    height : 0 ;
    clear : both;
    visibility : hidden;
}
.clearfix {
    zoom : 1; 
}
.iconfont{font-family:"iconfont";
font-size:16px;font-style:normal;}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1431163503_2385006.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1431163503_2385006.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1431163503_2385006.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1431163503_2385006.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1431163503_2385006.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.wzhuany-list table th.th-1{
   background-color: #888788;
}
.wzhuany-list table th.th-2{
   background-color: #65BB6E;
}
.wzhuany-list table th.th-3{
   background-color: #069DE2;
}
.wzhuany-list table th.th-4{
   background-color: #FB7C51;
}
.top-main{
	width:1000px;
	margin:0 auto;
}
.top-annunciate{
  display:none;
  text-align: center;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  color:#de0000;
  background-color:#f6e5e5;
}
.top-annunciate .ico,.top-annunciate .close{
   font-weight:bolder;
   font-size: 16px;
   font-style: normal;
   cursor:pointer;
}
.top-navigation{
	font-size:14px;
	background-color:#262635;
	height:55px;
	line-height:55px;
}
.top-navigation a{
	text-decoration:none;
}
.top-navigation .top-main{
  position:relative;
   z-index:99999;
}
.top-navigation .nav-logo{
  width:180px;
  float:left;
  z-index:99999;
  background-color:#FF4400;
  position:absolute;
  left:0px;
  font-size: 0px;
}
.top-navigation .nav-list{
    float:left;
    margin-left:200px;
}
.top-navigation .nav-list li{
	float:left;
}
.top-navigation .nav-list li a{
    color:#757393;
    padding: 0 20px;
}
.top-navigation .nav-list li a:hover{
	color:#afaec5;
}
.top-navigation .nav-list li a.selected{
	color:#ffffff;
}
.top-navigation .nav-logIn{
    float:right;
}
.top-navigation .login-btn{
   background-color: #FF4400;
}
.top-navigation .login-btn:hover{
   color:#262635;
}
.top-carousel{
	position:relative;
	height:600px;
  z-index:0;
} 
.top-carousel .header-btns{
	width: 308px;
  margin-top: 405px;
  height:auto; 
}
.top-carousel .header-btns .ui-btn-UE{
	  width: 300px;
    height: 80px;
    line-height:80px;
    font-size:25;
    font-weight:bolder;
}
.top-carousel .slider{
	height:600px;
  position:absolute;
  left:0px;
}
.top-carousel .lb1{
    background: url(./img/top_01.jpg?2014) center center no-repeat; 
}
.top-carousel .lbnum{
	top:540px;
}
.free-use{
	background-color:#262635;
}
.free-use .foot-btn{
    color:#262635;
}
.topback{
   height:320px; 
   background: url(./img/back.jpg) center center no-repeat;
}
.topback .top-main{
  position:relative;
}
.topback .top-main .topName{
  position:absolute;
  top:130px;
  left:215px;
  font-family:'微软雅黑';
  font-weight:600;
  font-size:34px;
  color:#ffffff; 
}
.register-wzy .top-wrap .logo{
  z-index: 999;
  background-color: #FF4400;
  font-size: 0px;
}
.register-wzy .top-wrap .logo a{
  width:180px;
  padding-top:0px;
  background:none;
}
.register-wzy .top-wrap .login-btn{
  background-color: #FF4400;
}
.register-wzy .banner-wrap .control-box .control-group .control-input .btn-register{
  background-color: #FF4400;
}